In [4]:
import pandas as pd
df = pd.read_csv('Desktop/csv_files/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [5]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [6]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [7]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [12]:
df4 = df3.copy()
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    
    inplace=True)
df4.Sex.replace(
    {
        'M': 0,
        'F': 1
    },
    
    inplace=True)
df4
dummies = pd.get_dummies(df4.ChestPainType)
df5 = pd.concat([df4,dummies],axis='columns')
df5

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,ATA,140,289,0,1,172,0,0.0,3,0,0,1,0,0
1,49,1,NAP,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,0,ATA,130,283,0,2,98,0,0.0,3,0,0,1,0,0
3,48,1,ASY,138,214,0,1,108,1,1.5,2,1,1,0,0,0
4,54,0,NAP,150,195,0,1,122,0,0.0,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,TA,110,264,0,1,132,0,1.2,2,1,0,0,0,1
914,68,0,ASY,144,193,1,1,141,0,3.4,2,1,1,0,0,0
915,57,0,ASY,130,131,0,1,115,1,1.2,2,1,1,0,0,0
916,57,1,ATA,130,236,0,3,174,0,0.0,2,1,0,1,0,0
917,38,0,NAP,138,175,0,1,173,0,0.0,3,0,0,0,1,0

In [13]:
df5.drop('ChestPainType',axis='columns', inplace=True)
df5

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,140,289,0,1,172,0,0.0,3,0,0,1,0,0
1,49,1,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,0,130,283,0,2,98,0,0.0,3,0,0,1,0,0
3,48,1,138,214,0,1,108,1,1.5,2,1,1,0,0,0
4,54,0,150,195,0,1,122,0,0.0,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,110,264,0,1,132,0,1.2,2,1,0,0,0,1
914,68,0,144,193,1,1,141,0,3.4,2,1,1,0,0,0
915,57,0,130,131,0,1,115,1,1.2,2,1,1,0,0,0
916,57,1,130,236,0,3,174,0,0.0,2,1,0,1,0,0
917,38,0,138,175,0,1,173,0,0.0,3,0,0,0,1,0

In [14]:
X = df5.drop('HeartDisease',axis='columns')
Y = df5.HeartDisease

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269, -0.51485643,  0.46089071, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.94228905,  1.5925728 , ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.51485643, -0.10495034, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.51485643, -0.10495034, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878,  1.94228905, -0.10495034, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227, -0.51485643,  0.3477225 , ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_scaled,Y,test_size=0.2)

In [63]:
from sklearn import svm
from sklearn.model_selection import cross_val_score
scores1 = cross_val_score(svm.SVC(),X_scaled,Y,cv=5)
scores1

array([0.85082873, 0.84530387, 0.82222222, 0.81111111, 0.76666667])

In [64]:
scores1.mean()

0.8192265193370165

In [66]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
    base_estimator = svm.SVC(),
    n_estimators=100,
    max_samples = 0.8,
    oob_score=True,
    random_state=0
)
bag_model.fit(x_train,y_train)
cross_val_score(bag_model,X_scaled,Y).mean()

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.8181338244321669

In [67]:
from sklearn import tree
scores2 = cross_val_score(tree.DecisionTreeClassifier(),X_scaled,Y)

In [68]:
scores2.mean()

0.7460405156537753

In [70]:
bag_model2 = BaggingClassifier(
    base_estimator = tree.DecisionTreeClassifier(),
    n_estimators=50,
    max_samples = 0.8,
    oob_score=True,
    random_state=0
)
bag_model2.fit(x_train,y_train)
cross_val_score(bag_model2,X_scaled,Y).mean()

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.803720073664825

In [72]:
from sklearn.ensemble import RandomForestClassifier

scores3 = cross_val_score(RandomForestClassifier(), X_scaled, Y, cv=5)
scores3.mean()

0.8303069367710251